@import 'variables';
// font color
.mlgrey {
    color: $mlgrey;
}

.lblack {
    color: $lblack;
}

.white {
    color: $white;
}

.grey {
    color: $grey;
}

.peach {
    color: $peach;
}

// background color
.bg-lg {
    background-color: $lgrey;
}

.bg-w {
    background-color: $white;
}